body{
	width: 1300px;
	color: #848D82;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
  font-family: 'Lucida Grande', sans-serif;
}

/*formatting header*/
header{
	text-align: center;
	background-color: #FFFBF5;
	color: #250352;
	height: 480px;
}
h1{
	font: 3em 'Copperplate', 'Copperplate Gothic Light', sans-serif;
	color: #FD6E8A;
	line-height: 120%;
}

/*formatting navigation*/

nav a { 
	display: block; 
	padding: 5px 10px; 
	text-decoration: none; 
	color: #fff;
	background-color: #036;
	width: 120px;

}
nav a:hover { 
	background-color: #369; 
}
nav ul, nav ul li { 
	list-style-type: none; 
	padding: 0; margin: 0; 
}

nav > ul { 
	text-align: center; }
nav > ul > li { 
	display: inline-block; 
}

.sub-menu-parent { 
	position: relative; 
}
  
.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  transform: translateZ(0);
  transform: translateY(10%);
  transition: all 0.5s ease 0s, visibility 0s linear 0.5s; /* the last value is the transition-delay for visibility */
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0.1s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/*content formatting*/
p, section{
	text-align: left;
}

/*Ingredients list*/

section{
  border: 1px dotted gray;
  border-radius: 10px;
  box-shadow: 2px 5px 12px #CCC0C0;
  -moz-box-shadow: 2px 5px 12px #CCC0C0;
  -webkit-box-shadow:2px 5px 12px #CCC0C0;  
  margin: 0 auto;
  padding: 10px 40px;
  width: 700px;
  line-height: 140%;
}

/*table formatting*/
table{
  text-align: left; 
  padding: 60px;
}

th{
  font-size: 1.4em;
}

td{
  padding: 15px;
  font-size: 1.25em;
  width: 300px;
}

div table tr td img{
  float: right;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  box-shadow: 2px 5px 12px #CCC0C0;
  -moz-box-shadow: 2px 5px 12px #CCC0C0;
  -webkit-box-shadow:2px 5px 12px #CCC0C0; 
}

/*Footer fromatting*/
footer{
	font: 1em 'Lucida Grande', sans-serif;
	background-color: #FFFBF5;
	padding: 15px;
	height: 50px;
}
footer p{
	text-align: center;
}

ul{
  list-style-type: none;
}

button{
  margin: 10px;
}

.onIt{
  font-weight: bolder;
  color: black;
}
